ul.note-types
	padding-left: 0
	li
		display: inline-block
		cursor: pointer
		margin: 10px 20px 10px 0px
		border: 1px solid #888
		padding: 8px 12px
		&:last-child
			margin-right: 0
		&.active
			background: #41afa5
			color: white
			border-color: #41afa5