<back>Back</back>
<h1>Add Action Step</h1>
<form id="action-step-form" novalidate>
	<div class="margin-bottom-md">
		<label for="due-date">Due Date</label><br>
		<datepicker ng-model="dueDate" id="due-date"></datepicker>
	</div>
	<div class="margin-bottom-sm">
		<label for="description">Action Step Description</label>
		<textarea id="description" ng-model="description" name="description" form="action-step-form" placeholder="Description of Action Step..."></textarea>
	</div>
	<div class="students" ng-if="activeItems.length > 0">
	  	<p>Group</p>
	  	<ul class="note-types">
			<li ng-repeat="item in activeItems"
				class="{{ colorScheme[item._id] }}">
				{{ item.name }}
			</li>
	    </ul>
	</div>
	<button ng-click="createActionStep()" class="form-control">Add Action Step</button>
</form>
