<div class="row">
  <div class="col-xs-12">
    <div id="content-title" class="content">
      <h1 class="inline-block">Action Steps</h1>
      <daterange updateFn="getActionSteps"></daterange>
      <button class="action-step-nav" ui-sref="index.dashboard.addActionStep">Add Action Step</button>
    </div>
  </div>
  <div class="col-xs-12">
    <ul class="students note-types" ng-if="activeItems.length > 0">
      <li ng-repeat="item in activeItems"
          ng-click="setItem(item)"
          class="{{ colorScheme[item._id] }}">
            {{ item.name }}
          </li>
    </ul>
  </div>
  <div class="col-xs-12" ng-if="actionSteps.length > 0">
    <h2>Steps</h2>
    <ul class="note-types">
      <li ng-repeat="step in actionSteps"
          ui-sref="index.dashboard.viewActionStep({ step_id: step._id })"
          ng-if="!step.complete"
          class="{{ colorScheme[step.entityID] }}">{{ step.description }}</li>
    </ul>
    <hr>
    <h2>Completed Steps</h2>
    <ul class="note-types">
      <li ng-repeat="step in actionSteps"
          ui-sref="index.dashboard.viewActionStep({ step_id: step._id })"
          ng-if="step.complete"
          class="{{ colorScheme[step.entityID] }}">{{ step.description }}</li>
    </ul>
  </div>
</div>
