<div class="row">
	<back>Back</back>
</div>
<div class="row">
	<h1>Schemas</h1>
	<ul>
		<li ng-repeat="schema in schemas" 
			ng-if="schema.private != true"
			class="schema">
				<span ng-click="setSchema(schema)">{{ schema.name }}</span>
				<button ng-click="deleteSchema(schema._id)">Delete</button>
		</li>
		<li ng-if="!newSchema"><button ng-click="cleanSlate()">New Schema</button></li>
	</ul>
	<h1> {{ newSchema ? "Add New" : "Edit"}} Schema</h1>
	<form novalidate>
		<label>Name<input class="form-control" type="text" ng-model="editSchema.name" placeholder="Text"></label>
		<div class="question-field" ng-repeat="question in editSchema.questions">
			<input type="text" ng-model="question.name" placeholder="Field name">
			<select ng-model="question.input" ng-init="question.input = question.input || 'text'">
				<option value="textarea">Long Text</option>
				<option value="text">Short Text</option>
				<option value="number">Number</option>
				<option value="radio">Choice</option>
				<option value="stars">Stars</option>
			</select>
			<button ng-click="editSchema.questions.splice($index, 1)">Remove</button>
			<div class="choice" ng-if="question.input == 'radio'" ng-init="question.answers = question.answers || []">
				<p>Answers: <span ng-repeat="answer in question.answers">{{ answer }}</span></p>
				<input class="form-control" type="text" ng-model="newAnswer">
				<button ng-click="question.answers.push(newAnswer); newAnswer = ''">Add Answer</button>
			</div>
		</div>
		<br>
		<button ng-click="editSchema.questions.push({})">Add field</button>
		<button ng-if="!newSchema" ng-click="updateSchema()">Update Schema!</button>
		<button ng-if="newSchema" ng-click="saveSchema()">Save Schema!</button>
	</form>
</div>

<link href="stylesheets/tabs.css" rel="stylesheet">