<div class="row">
  <div class="col-xs-12">
    <div id="content-title" class="content">
      <h1 class="inline-block">Notes</h1>
      <daterange updateFn="getNotes"></daterange>
      <div class="action-steps-notifications" ng-if="activeSteps.length">
        <label for="action-step-list">Action Steps</label>
        <button ng-click="stepsVisible = !stepsVisible">
          <span ng-if="stepsVisible">Hide</span><span ng-if="!stepsVisible">Show</span>
        </button>
        <ul id="action-step-list" ng-init="stepsVisible = true">
          <li ng-repeat="step in activeSteps | orderBy:'due'"
            ng-if="stepsVisible"
            ng-class="{danger: step.due && step.due - now < 86400000, warning: step.due && step.due - now < 172800000}">
            <a ui-sref="index.dashboard.viewActionStep({ step_id: step._id })">{{ step.description | truncate:30 }}</a>
          </li>
          <li ng-if="activeSteps.length > 1">
            <a ui-sref="index.dashboard.listActionSteps"><strong>See all Action Steps</strong></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <ul class="note-types" ng-if="activeItems.length > 0">
      <li ng-repeat="cohort in activeCohorts"
          ng-if="activeStudents.length === 0"
          ng-click="setItem(cohort)"
          class="{{ colorScheme[cohort._id] }}">
            {{ cohort.name }}
      </li>
      <li ng-repeat="student in activeStudents"
          ng-click="setItem(student)"
          class="{{ colorScheme[student._id] }}">
            {{ student.name }}
      </li>
    </ul>
  </div>
  <div class="col-xs-12">
    <div ng-repeat="schema in schemas"
        ng-if="schema.private != true && activeItems.length > 0"
        class="schema-group"
        ng-init="schema.hasNumber = utilityService.schemaHasNumberField(schema)"
        ng-cloak>
      <h2>
        {{ schema.name }}
        <button class="add-note" ng-click="startNote(schema)">
          <i class="glyphicon glyphicon-pencil fa fa-pencil-square-o"></i>&nbsp;Add note
        </button>
        <button class="add-note" ng-click="schema.showViz = !schema.showViz" ng-if="schema.hasNumber">
          <i class="glyphicon glyphicon-stats"></i>&nbsp;Visualize
        </button>
      </h2>
      <table class="table" ng-show="notes[schema.name].length > 0">
        <tr>
          <th>Date</th>
          <th ng-repeat="field in noteFields[schema.name]"
              ng-if="hiddenFields.indexOf(field) == -1">{{ field | 
          capitalize | split }}</th>
        </tr>
        <tr ui-sref="index.dashboard.showNote({note_id: note._id})"
            ng-repeat="note in notes[schema.name] | orderBy:'date'"
            class="{{ colorScheme[note.entityID] }} info-row">
          <td>{{ note.date | date }} &nbsp; 
            <i ng-if="note.attachments.length > 0" class="glyphicon glyphicon-link"></i>
          </td>
          <td ng-repeat="field in noteFields[schema.name]"
              ng-if="hiddenFields.indexOf(field) == -1">
              {{ note[field] | truncate }}
          </td>
        </tr>
      </table>

      <visualization 
        ng-init="schema.showViz = false"
        notes="notes[schema.name]"
        schema="schema"
        ng-show="schema.showViz"></visualization>
      <hr>
    </div>
  </div>
</div>
