<div class="row">
  <back>Back</back>
  <div id="content-title" class="content">
    <h1>Note</h1>
  </div>
</div>

<div class="row">
  <ul class="detail-view">
    <li class="margin-bottom-md" ng-repeat="(field, value) in showNote" ng-if="hiddenFields.indexOf(field) == -1">
      <label>{{ field | capitalize | split }}</label><br>
      {{ value }}
    </li>
  </ul>
  <div ng-if="showNote.attachments.length">
    <p>Attachments</p>
    <ul>
      <li ng-repeat="attachment in showNote.attachments">
        <img src="{{ attachment }}" style="max-width: 300px">
      </li>
    </ul>
  </div>
</div>

<link href="stylesheets/tabs.css" rel="stylesheet">