<div class="row">
  <back>Back</back>
  <div id="content-title" class="content">
    <h1>
      {{ showNote.noteType }} 
      <span class="ng-cloak" ng-show="showNote.date"> - {{ showNote.date | date }}</span>
      <span class="ng-cloak" ng-hide="showNote.date"> - {{ showNote._id | mongoDate | date }}</span>
      <button class="pull-right" ui-sref="index.dashboard.updateNote({note_id: showNote._id})">Update</button>
    </h1>
  </div>
</div>

<div class="row">
  <ul class="detail-view">
    <li class="margin-bottom-md" ng-repeat="(field, value) in showNote" ng-if="hiddenFields.indexOf(field) == -1">
      <label>{{ field | capitalize | split }}</label><br>
      {{ value }}
    </li>
  </ul>
  <div ng-if="showNote.attachments.length">
    <p>Attachments</p>
    <ul>
      <li ng-repeat="attachment in showNote.attachments">
        <img src="{{ attachment }}" style="max-width: 300px">
      </li>
    </ul>
  </div>
</div>

<link href="stylesheets/tabs.css" rel="stylesheet">